[submodule ".registry"]
	path = .registry
	url = https://github.com/whtns/whtns.r-universe.dev
	branch = HEAD
[submodule "chevreulProcess"]
	path = chevreulProcess
	url = https://github.com/whtns/chevreulProcess
